In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ExampleApp").getOrCreate()
print("=" * 50)
print("1. INITIAL DATAFRAME")
print("=" * 50)
data = [("Alice", 34), ("Bob", 45), ("Cathy", 29)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()

==================================================
1. INITIAL DATAFRAME
==================================================
+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
+-----+---+

In [9]:
from pyspark.sql.functions import col
df_filtered = df.filter(col("Age") > 30)
df_filtered.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
+-----+---+

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, avg, sum, count, upper, lower, concat
print("=" * 50)
print("2. ADDING MORE ROWS")
print("=" * 50)
new_data = [("David", 38), ("Emma", 27), ("Frank", 52)]
new_df = spark.createDataFrame(new_data, ["Name", "Age"])
new_df.show()

==================================================
2. ADDING MORE ROWS
==================================================
+-----+---+
| Name|Age|
+-----+---+
|David| 38|
| Emma| 27|
|Frank| 52|
+-----+---+

In [8]:
df_combined = df.union(new_df)
print("After adding more rows:")
df_combined.show()

After adding more rows:
+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
|David| 38|
| Emma| 27|
|Frank| 52|
+-----+---+

In [20]:
# 1. Re-create the full combined DataFrame (if you overwrote it with the filter)
df_full = df.union(new_df)

# 2. Sort the DataFrame by 'Age' in descending order and show the top row
print("=" * 50)
print("OLDEST PERSON IN THE COMBINED DATASET")
print("=" * 50)

df_full.orderBy(col("Age").desc()).show(4, truncate=False)

==================================================
OLDEST PERSON IN THE COMBINED DATASET
==================================================
+-----+---+
|Name |Age|
+-----+---+
|Frank|52 |
|Bob  |45 |
|David|38 |
|Alice|34 |
+-----+---+
only showing top 4 rows

==================================================
2. ADDING MORE ROWS