In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import os

In [2]:
spark = SparkSession.builder.appName("Basics").master("local[*]").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/07 05:49:43 WARN Utils: Your hostname, Somnath, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/02/07 05:49:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/07 05:49:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(17 ,'Raman',55000, 16),
(17 ,'Raman',59000, 16)]

In [4]:
schema =['id','name','salary','manager_id']

In [5]:
df = spark.createDataFrame(data,schema)

In [7]:
data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

In [8]:
schema =['id','name','salary','manager_id']

In [9]:
df1 = spark.createDataFrame(data1,schema)

In [10]:
df1.show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [11]:
df.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 17| Raman| 55000|        16|
| 17| Raman| 59000|        16|
+---+------+------+----------+

In [22]:
df.union(df1).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 17| Raman| 55000|        16|
| 17| Raman| 59000|        16|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [23]:
df.union(df1).count()

13

In [12]:
df.createOrReplaceTempView("people")

In [13]:
df1.createOrReplaceTempView("people1")

In [14]:
spark.sql(""" select * from people union select * from people1""").show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 17| Raman| 59000|        16|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [16]:
spark.sql(""" select * from people union all select * from people1""").show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 17| Raman| 55000|        16|
| 17| Raman| 59000|        16|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [17]:
spark.sql(""" select * from people union select * from people1""").count()

12

In [18]:
spark.sql(""" select * from people union all select * from people1""").count()

13

In [3]:
spark.stop()

NameError: name 'spark' is not defined