In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import os

In [2]:
spark = SparkSession.builder\
    .appName("Practice")\
    .master("local[*]")\
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/29 16:44:03 WARN Utils: Your hostname, Somnath, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/01/29 16:44:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/29 16:44:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
my_schema = ("match_id INT, season INT, city STRING, date STRING, team1 STRING, team2 STRING, toss_winner STRING, toss_decision STRING, result STRING, dl_applied INT, winner STRING, win_by_runs INT, win_by_wickets INT, player_of_match STRING, venue STRING, umpire1 STRING, umpire2 STRING, umpire3 STRING")

In [4]:
file_path = "/home/somnath/my_vscode_project/input_data/ipl.csv"

READ MODE

In [5]:
df = spark.read \
    .format("csv") \
    .option("header", "false") \
    .option("inferSchema", "false") \
    .schema(my_schema) \
    .option("mode", "PERMISSIVE") \
    .load(file_path)

In [6]:
df.rdd.getNumPartitions()  # Check the number of partitions

1

In [7]:
df.count()

1170

In [8]:
print(len(df.columns))

18

In [9]:
print(df.columns)

['match_id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2', 'umpire3']

In [10]:
df.describe().show()

26/01/29 16:44:17 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------+------+----------+-------------------+-------------+-------------------+---------------+--------------------+---------+----------+--------------------+-----------------+------------------+------------------+---------+------------------+-----------------+------------------+
|summary|match_id|season|      city|               date|        team1|              team2|    toss_winner|       toss_decision|   result|dl_applied|              winner|      win_by_runs|    win_by_wickets|   player_of_match|    venue|           umpire1|          umpire2|           umpire3|
+-------+--------+------+----------+-------------------+-------------+-------------------+---------------+--------------------+---------+----------+--------------------+-----------------+------------------+------------------+---------+------------------+-----------------+------------------+
|  count|       0|     0|      1170|               1170|         1170|               1147|           1170|                1170|     1119|         0|                1170|             1169|              1169|              1170|     1170|              1147|             1164|              1164|
|   mean|    NULL|  NULL|      NULL|               NULL|         NULL|               NULL|           NULL|                NULL|     NULL|      NULL|                NULL|9.687767322497862| 33.35928143712575|              NULL|     NULL| 17.36474694589878|167.2536543422184|19.768013757523647|
| stddev|    NULL|  NULL|      NULL|               NULL|         NULL|               NULL|           NULL|                NULL|     NULL|      NULL|                NULL|5.253100443983718|19.430749484016886|              NULL|     NULL|21.919255074850145|34.22277140427904| 1.542582638870656|
|    min|    NULL|  NULL|2008-04-18|Chennai Super Kings|          bat|Chennai Super Kings|     A Chandila|Arun Jaitley Stadium|Abu Dhabi|      NULL|A Mishra, KL Rahu...|                1|                 1|3rd Place Play-Off|abandoned|               1.0|            100.0|              10.0|
|    max|    NULL|  NULL|match_date|        toss_winner|toss_decision|             winner|player_of_match|               venue|     city|      NULL|       team2_players|               18|                76|        match_type|  wickets|     result_margin|      target_runs|      target_overs|
+-------+--------+------+----------+-------------------+-------------+-------------------+---------------+--------------------+---------+----------+--------------------+-----------------+------------------+------------------+---------+------------------+-----------------+------------------+

In [11]:

df.show(5)
df.printSchema()
#spark.stop()

+--------+------+----------+--------------------+-------------+--------------------+---------------+--------------------+----------+----------+--------------------+-----------+--------------+---------------+-------+-------------+-----------+------------+
|match_id|season|      city|                date|        team1|               team2|    toss_winner|       toss_decision|    result|dl_applied|              winner|win_by_runs|win_by_wickets|player_of_match|  venue|      umpire1|    umpire2|     umpire3|
+--------+------+----------+--------------------+-------------+--------------------+---------------+--------------------+----------+----------+--------------------+-----------+--------------+---------------+-------+-------------+-----------+------------+
|    NULL|  NULL|match_date|         toss_winner|toss_decision|              winner|player_of_match|               venue|      city|      NULL|       team2_players|       NULL|          NULL|     match_type| result|result_margin|target_runs|target_overs|
|    NULL|  NULL|2008-04-18|Royal Challengers...|        field|Kolkata Knight Ri...|    BB McCullum|M Chinnaswamy Sta...| Bangalore|      NULL|SC Ganguly, BB Mc...|          1|             1|         League|   runs|        140.0|      223.0|        20.0|
|    NULL|  NULL|2008-04-19| Chennai Super Kings|          bat| Chennai Super Kings|     MEK Hussey|Punjab Cricket As...|Chandigarh|      NULL|PA Patel, ML Hayd...|          1|             2|         League|   runs|         33.0|      241.0|        20.0|
|    NULL|  NULL|2008-04-19|    Rajasthan Royals|          bat|    Delhi Daredevils|    MF Maharoof|    Feroz Shah Kotla|     Delhi|      NULL|T Kohli, YK Patha...|          1|             3|         League|wickets|          9.0|      130.0|        20.0|
|    NULL|  NULL|2008-04-20|      Mumbai Indians|          bat|Royal Challengers...|     MV Boucher|    Wankhede Stadium|    Mumbai|      NULL|S Chanderpaul, R ...|          1|             4|         League|wickets|          5.0|      166.0|        20.0|
+--------+------+----------+--------------------+-------------+--------------------+---------------+--------------------+----------+----------+--------------------+-----------+--------------+---------------+-------+-------------+-----------+------------+
only showing top 5 rows
root
 |-- match_id: integer (nullable = true)
 |-- season: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- date: string (nullable = true)
 |-- team1: string (nullable = true)
 |-- team2: string (nullable = true)
 |-- toss_winner: string (nullable = true)
 |-- toss_decision: string (nullable = true)
 |-- result: string (nullable = true)
 |-- dl_applied: integer (nullable = true)
 |-- winner: string (nullable = true)
 |-- win_by_runs: integer (nullable = true)
 |-- win_by_wickets: integer (nullable = true)
 |-- player_of_match: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- umpire1: string (nullable = true)
 |-- umpire2: string (nullable = true)
 |-- umpire3: string (nullable = true)

In [12]:
spark.stop()