In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
import os

In [317]:
spark = SparkSession.builder \
    .appName("Prac3") \
    .master("local[*]") \
    .getOrCreate()

In [318]:
my_schema = "row_id INT,name STRING, age INT, dept STRING, CorruptedRecord STRING"

In [319]:
file_path = "/home/somnath/my_vscode_project/input_data/corrupted_data1.csv"

In [320]:
!ls /home/somnath/my_vscode_project/

 README.md				        input_data
 basics					        output_data
'besic airflow project'			        psql.txt
'besic project of integration'		        test_ecommerce.sql
 databrick-mini-course-end-to-end-project.zip  'txt to voice.py'
'databricks_project 2'			        venv
'directory path.py'

READ MODE

In [321]:
df = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("mode", "PERMISSIVE") \
    .option("inferSchema", "false") \
    .schema(my_schema) \
    .load(file_path)

In [322]:
df.collect()

26/01/24 16:09:54 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 4, schema size: 5
CSV file: file:///home/somnath/my_vscode_project/input_data/corrupted_data1.csv

[Row(row_id=1, name='Alice', age=None, dept='30', CorruptedRecord='IT'),
 Row(row_id=2, name='Bob', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=3, name='Charlie', age=28, dept='12121', CorruptedRecord='IT'),
 Row(row_id=4, name='Alice', age=30, dept='IT', CorruptedRecord='Charlie'),
 Row(row_id=5, name='Eve', age=35, dept=None, CorruptedRecord=None),
 Row(row_id=6, name='Frank', age=None, dept='40', CorruptedRecord='Finance'),
 Row(row_id=7, name='Grace', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=8, name='Bob', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=9, name='Heidi', age=29, dept='IT', CorruptedRecord='Charlie'),
 Row(row_id=10, name='Ivan', age=31, dept='Security', CorruptedRecord=None),
 Row(row_id=11, name='Judy', age=27, dept='IT', CorruptedRecord=None),
 Row(row_id=12, name='Mallory', age=45, dept='Finance', CorruptedRecord=None),
 Row(row_id=13, name='Oscar', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=14, name='Peggy', age=34, dept='323', CorruptedRecord='IT'),
 Row(row_id=15, name='Trent', age=38, dept='Security', CorruptedRecord=None),
 Row(row_id=16, name='Victor', age=41, dept='Finance', CorruptedRecord=None),
 Row(row_id=17, name='Walter', age=None, dept=None, CorruptedRecord=None),
 Row(row_id=18, name='Alice', age=30, dept='IT', CorruptedRecord=None),
 Row(row_id=19, name='Yvonne', age=26, dept='HR', CorruptedRecord=None),
 Row(row_id=20, name='Zara', age=33, dept='IT', CorruptedRecord=None),
 Row(row_id=21, name='Uma', age=None, dept='29', CorruptedRecord='IT'),
 Row(row_id=22, name='Nina', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=23, name='Raj', age=34, dept='Charlie', CorruptedRecord='Finance'),
 Row(row_id=24, name='Karan', age=36, dept='IT', CorruptedRecord=None),
 Row(row_id=25, name='Mona', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=26, name='Sam', age=31, dept='IT', CorruptedRecord=None),
 Row(row_id=27, name='Tom', age=30, dept='IT', CorruptedRecord=None),
 Row(row_id=28, name='Leo', age=28, dept='Security', CorruptedRecord=None),
 Row(row_id=29, name='Paul', age=45, dept='Finance', CorruptedRecord=None),
 Row(row_id=30, name='Rita', age=27, dept='HR', CorruptedRecord=None),
 Row(row_id=31, name='Steve', age=39, dept='IT', CorruptedRecord=None),
 Row(row_id=32, name='Anna', age=33, dept='IT', CorruptedRecord=None),
 Row(row_id=33, name='Chris', age=None, dept='Finance', CorruptedRecord=None),
 Row(row_id=34, name='Bob', age=None, dept='HR', CorruptedRecord=None),
 Row(row_id=35, name='Eva', age=29, dept='IT', CorruptedRecord=None),
 Row(row_id=36, name='Mike', age=None, dept='41', CorruptedRecord='Security'),
 Row(row_id=37, name='Noah', age=38, dept='Finance', CorruptedRecord=None),
 Row(row_id=38, name='Olivia', age=34, dept='HR', CorruptedRecord=None),
 Row(row_id=39, name='Peter', age=None, dept=None, CorruptedRecord=None),
 Row(row_id=40, name='BrokenName,29,IT', age=None, dept=None, CorruptedRecord=None)]

In [323]:
df.count()

40

In [324]:
df.printSchema()

root
 |-- row_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- dept: string (nullable = true)
 |-- CorruptedRecord: string (nullable = true)

In [325]:
df.show(40,truncate=False)

+------+----------------+----+--------+---------------+
|row_id|name            |age |dept    |CorruptedRecord|
+------+----------------+----+--------+---------------+
|1     |Alice           |NULL|30      |IT             |
|2     |Bob             |NULL|HR      |NULL           |
|3     |Charlie         |28  |12121   |IT             |
|4     |Alice           |30  |IT      |Charlie        |
|5     |Eve             |35  |NULL    |NULL           |
|6     |Frank           |NULL|40      |Finance        |
|7     |Grace           |NULL|HR      |NULL           |
|8     |Bob             |NULL|HR      |NULL           |
|9     |Heidi           |29  |IT      |Charlie        |
|10    |Ivan            |31  |Security|NULL           |
|11    |Judy            |27  |IT      |NULL           |
|12    |Mallory         |45  |Finance |NULL           |
|13    |Oscar           |NULL|HR      |NULL           |
|14    |Peggy           |34  |323     |IT             |
|15    |Trent           |38  |Security|NULL           |
|16    |Victor          |41  |Finance |NULL           |
|17    |Walter          |NULL|NULL    |NULL           |
|18    |Alice           |30  |IT      |NULL           |
|19    |Yvonne          |26  |HR      |NULL           |
|20    |Zara            |33  |IT      |NULL           |
|21    |Uma             |NULL|29      |IT             |
|22    |Nina            |NULL|HR      |NULL           |
|23    |Raj             |34  |Charlie |Finance        |
|24    |Karan           |36  |IT      |NULL           |
|25    |Mona            |NULL|HR      |NULL           |
|26    |Sam             |31  |IT      |NULL           |
|27    |Tom             |30  |IT      |NULL           |
|28    |Leo             |28  |Security|NULL           |
|29    |Paul            |45  |Finance |NULL           |
|30    |Rita            |27  |HR      |NULL           |
|31    |Steve           |39  |IT      |NULL           |
|32    |Anna            |33  |IT      |NULL           |
|33    |Chris           |NULL|Finance |NULL           |
|34    |Bob             |NULL|HR      |NULL           |
|35    |Eva             |29  |IT      |NULL           |
|36    |Mike            |NULL|41      |Security       |
|37    |Noah            |38  |Finance |NULL           |
|38    |Olivia          |34  |HR      |NULL           |
|39    |Peter           |NULL|NULL    |NULL           |
|40    |BrokenName,29,IT|NULL|NULL    |NULL           |
+------+----------------+----+--------+---------------+

26/01/24 16:09:54 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 4, schema size: 5
CSV file: file:///home/somnath/my_vscode_project/input_data/corrupted_data1.csv

In [326]:
output_dir = "/home/somnath/my_vscode_project/output_data/bad_rows"
os.makedirs(output_dir, exist_ok=True)
print("\nðŸ’¾ Writing to CSV...")
(df.coalesce(1)
   .write
   .mode("overwrite")
   .option("header", "true") # You can use .option() or .csv(header=True)
   .json(f"{output_dir}") 
)
print(f"âœ… JSON folder created at: {output_dir}")

ðŸ’¾ Writing to CSV...

26/01/24 16:09:55 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 4, schema size: 5
CSV file: file:///home/somnath/my_vscode_project/input_data/corrupted_data1.csv

âœ… JSON folder created at: /home/somnath/my_vscode_project/output_data/bad_rows

In [327]:
bad_rows_df = spark.read.format("json").load(output_dir)
bad_rows_df.show(truncate=False)

+---------------+----+--------+-------+------+
|CorruptedRecord|age |dept    |name   |row_id|
+---------------+----+--------+-------+------+
|IT             |NULL|30      |Alice  |1     |
|NULL           |NULL|HR      |Bob    |2     |
|IT             |28  |12121   |Charlie|3     |
|Charlie        |30  |IT      |Alice  |4     |
|NULL           |35  |NULL    |Eve    |5     |
|Finance        |NULL|40      |Frank  |6     |
|NULL           |NULL|HR      |Grace  |7     |
|NULL           |NULL|HR      |Bob    |8     |
|Charlie        |29  |IT      |Heidi  |9     |
|NULL           |31  |Security|Ivan   |10    |
|NULL           |27  |IT      |Judy   |11    |
|NULL           |45  |Finance |Mallory|12    |
|NULL           |NULL|HR      |Oscar  |13    |
|IT             |34  |323     |Peggy  |14    |
|NULL           |38  |Security|Trent  |15    |
|NULL           |41  |Finance |Victor |16    |
|NULL           |NULL|NULL    |Walter |17    |
|NULL           |30  |IT      |Alice  |18    |
|NULL           |26  |HR      |Yvonne |19    |
|NULL           |33  |IT      |Zara   |20    |
+---------------+----+--------+-------+------+
only showing top 20 rows

In [328]:
spark.stop()