In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import os

In [12]:
spark = SparkSession.builder\
    .appName("Practice")\
    .master("local[*]")\
    .getOrCreate()

READ MODE

In [13]:
file_path = "/home/somnath/my_vscode_project/input_data/MOCK_DATA.csv"
path = "/home/somnath/my_vscode_project/output_data/gender_bucketed_table/"
#output_path = "/home/somnath/my_vscode_project/output_data/"

In [14]:
df = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("mode", "PERMISSIVE") \
    .option("inferSchema", "true") \
    .load(file_path)

In [15]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- salary: double (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)

WRITE MODE WITH BUCKET

In [16]:
df.repartition(4).write.format("CSV") \
    .option("header", "true") \
    .mode("overwrite") \
    .option("path", "/home/somnath/my_vscode_project/output_data/gender_bucketed_table") \
    .bucketBy(4, "gender") \
    .saveAsTable("gender_bucketed_table")

In [17]:
# Show the first few rows
spark.table("gender_bucketed_table").show()

+---+---------+----+-------+------------+------+-------+
| id|     name| age| salary|     address|gender|country|
+---+---------+----+-------+------------+------+-------+
| 62|  Tymothy|41.0|43819.0|    Suite 61|     M|     UK|
| 27|     Sean|27.0|56958.0|   Room 1757|     M|    USA|
| 68|    Dolly|46.0|57604.0|  17th Floor|     F|Germany|
| 88|     Jack|48.0|47609.0|PO Box 19255|     M| Canada|
| 11|   Newton|53.0|51172.0|    Room 362|     M|     UK|
| 42| Eldredge|36.0| 7456.0|    Suite 66|     M|   NULL|
|  1| Jessamyn|41.0| 9700.0|    Apt 1265|     F|    USA|
| 21|Stillmann|30.0|47529.0|PO Box 41860|     M|     UK|
| 91|      Ira|38.0|69168.0|     Apt 632|     M|Germany|
| 43|Esmeralda|NULL|62500.0|     Apt 580|     F|     UK|
| 50|    Hanni|25.0|47748.0|   Room 1123|     F|  India|
| 54| Basilius|44.0|48885.0|PO Box 59288|     M|    USA|
| 72|    Halli|63.0|14345.0|    Room 272|     F|     UK|
| 95|    Daven|48.0|40298.0|     Suite 5|     M|   NULL|
| 53|    Teddy|50.0|48002.0|PO Box 23400|     M| Canada|
| 76|     Susi|57.0|29601.0|    Apt 1389|     F|Germany|
| 64|    Angil|29.0|45389.0|PO Box 61891|     F|     UK|
| 37|    Rikki|59.0|10238.0|    Suite 73|     F| Canada|
| 41|    Daisy|42.0| 2781.0|    Suite 50|     F|Germany|
| 38|   Freida|53.0|46014.0|     Apt 864|     F|  India|
+---+---------+----+-------+------------+------+-------+
only showing top 20 rows

In [18]:
spark.sql("DESCRIBE EXTENDED gender_bucketed_table").show(50, truncate=False)

+----------------------------+----------------------------------------------------------------------+-------+
|col_name                    |data_type                                                             |comment|
+----------------------------+----------------------------------------------------------------------+-------+
|id                          |int                                                                   |NULL   |
|name                        |string                                                                |NULL   |
|age                         |double                                                                |NULL   |
|salary                      |double                                                                |NULL   |
|address                     |string                                                                |NULL   |
|gender                      |string                                                                |NULL   |
|country                     |string                                                                |NULL   |
|                            |                                                                      |       |
|# Detailed Table Information|                                                                      |       |
|Catalog                     |spark_catalog                                                         |       |
|Database                    |default                                                               |       |
|Table                       |gender_bucketed_table                                                 |       |
|Created Time                |Sat Jan 31 07:29:10 UTC 2026                                          |       |
|Last Access                 |UNKNOWN                                                               |       |
|Created By                  |Spark 4.1.1                                                           |       |
|Type                        |EXTERNAL                                                              |       |
|Provider                    |CSV                                                                   |       |
|Num Buckets                 |4                                                                     |       |
|Bucket Columns              |[`gender`]                                                            |       |
|Sort Columns                |[]                                                                    |       |
|Location                    |file:/home/somnath/my_vscode_project/output_data/gender_bucketed_table|       |
|Storage Properties          |[header=true]                                                         |       |
+----------------------------+----------------------------------------------------------------------+-------+

In [19]:
os.listdir(path)

['.part-00002-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv.crc',
 '_SUCCESS',
 '.part-00003-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv.crc',
 '.part-00000-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv.crc',
 'part-00000-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv',
 'part-00001-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv',
 'part-00001-d2fca421-640a-49b2-aefa-5682298b3f53_00002.c000.csv',
 'part-00003-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv',
 '.part-00001-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv.crc',
 '._SUCCESS.crc',
 '.part-00001-d2fca421-640a-49b2-aefa-5682298b3f53_00002.c000.csv.crc',
 'part-00002-d2fca421-640a-49b2-aefa-5682298b3f53_00000.c000.csv']

In [20]:
spark.stop()