In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import os

In [4]:
spark = SparkSession.builder\
    .appName("Practice")\
    .master("local[*]")\
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/01 05:20:37 WARN Utils: Your hostname, Somnath, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/02/01 05:20:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/01 05:20:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

DATAFRAME MODE

In [5]:
data = [(1, "Luca"), (2, "Aiko"), (3, "Carlos"), (4, "Sofia"), (5, "Ethan")]

In [6]:
schema =["id", "name"]

In [7]:
df = spark.createDataFrame(data, schema)

In [19]:
df.select("*").show()

+---+------+
| id|  name|
+---+------+
|  1|  Luca|
|  2|  Aiko|
|  3|Carlos|
|  4| Sofia|
|  5| Ethan|
+---+------+

In [8]:
df.select("name").show()

+------+
|  name|
+------+
|  Luca|
|  Aiko|
|Carlos|
| Sofia|
| Ethan|
+------+

In [9]:
df.select(df.name).show()

+------+
|  name|
+------+
|  Luca|
|  Aiko|
|Carlos|
| Sofia|
| Ethan|
+------+

In [10]:
from pyspark.sql import Row 
new_row = Row(id=6, name="James")

In [11]:
new_df = spark.createDataFrame([new_row])

# 3. Combine the original 'df' with the 'new_df'
df_combined = df.union(new_df)

# 4. Show the result
df_combined.show()

+---+------+
| id|  name|
+---+------+
|  1|  Luca|
|  2|  Aiko|
|  3|Carlos|
|  4| Sofia|
|  5| Ethan|
|  6| James|
+---+------+

In [12]:
df_combined.select(col("name")).show()

+------+
|  name|
+------+
|  Luca|
|  Aiko|
|Carlos|
| Sofia|
| Ethan|
| James|
+------+

In [13]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|  Luca|
|  2|  Aiko|
|  3|Carlos|
|  4| Sofia|
|  5| Ethan|
+---+------+

In [14]:
new_df.show()

+---+-----+
| id| name|
+---+-----+
|  6|James|
+---+-----+

SQL USE

In [15]:
df.createOrReplaceTempView("people")

In [18]:
spark.sql(""" select * from people """).show()

+---+------+
| id|  name|
+---+------+
|  1|  Luca|
|  2|  Aiko|
|  3|Carlos|
|  4| Sofia|
|  5| Ethan|
+---+------+

In [ ]:
df.printSchema()

In [ ]:
df.columns

In [23]:
spark.stop()