In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import os

In [2]:
spark = SparkSession.builder\
    .appName("Practice")\
    .master("local[*]")\
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/30 16:03:25 WARN Utils: Your hostname, Somnath, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/01/30 16:03:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/30 16:03:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

READ MODE

In [3]:
file_path = "/home/somnath/my_vscode_project/input_data/MOCK_DATA.csv"
path = "/home/somnath/my_vscode_project/output_data/gender_bucketed_table/"
#output_path = "/home/somnath/my_vscode_project/output_data/"

In [4]:
df = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("mode", "PERMISSIVE") \
    .option("inferSchema", "true") \
    .load(file_path)

In [5]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- salary: double (nullable = true)
 |-- address: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)

WRITE MODE WITH BUCKET

In [6]:
df.write.format("CSV") \
    .option("header", "true") \
    .mode("overwrite") \
    .option("path", "/home/somnath/my_vscode_project/output_data/gender_bucketed_table") \
    .bucketBy(4, "gender") \
    .saveAsTable("gender_bucketed_table")

In [7]:
# Show the first few rows
spark.table("gender_bucketed_table").show()

+---+----------+----+-------+------------+------+-------+
| id|      name| age| salary|     address|gender|country|
+---+----------+----+-------+------------+------+-------+
|  1|  Jessamyn|41.0| 9700.0|    Apt 1265|     F|    USA|
|  2|   Pinchas|66.0|64493.0|    Suite 57|     M|    USA|
|  3|     Deena|26.0|34040.0|    Suite 47|     F|    USA|
|  4|Fernandina|21.0|64153.0|   6th Floor|     F| Canada|
|  5|  Rebekkah|25.0|37903.0|     Apt 801|     F|  India|
|  6|   Stormie|41.0|25423.0|    Suite 39|     F|    USA|
|  7|     Cathe|69.0|32711.0|     Apt 370|     F|  India|
|  8| Maddalena|33.0|41007.0|PO Box 38131|     F|  India|
|  9|       Del|57.0|45097.0|  16th Floor|     M|    USA|
| 10|  Annabell|61.0|23832.0|PO Box 14554|     F|Germany|
| 11|    Newton|53.0|51172.0|    Room 362|     M|     UK|
| 12|    Marion|40.0|55370.0|   Room 1356|     M|   NULL|
| 13|     Cesar|52.0| 4169.0|    Suite 55|     M|Germany|
| 14|     Kelby|54.0|45092.0|   Room 1106|     M| Canada|
| 15|    Jaimie|41.0|43945.0|   Room 1699|     M|   NULL|
| 16|   Alfredo|56.0|59251.0|    Suite 82|     M| Canada|
| 17|     Vinny|36.0|23952.0|    Room 615|     F|  India|
| 18|   Ramonda|64.0|33167.0|    Room 396|     F| Canada|
| 19|     Quinn|22.0|59944.0|    Apt 1445|     F|Germany|
| 20|    Newton|47.0|43367.0|    Suite 89|     M|     UK|
+---+----------+----+-------+------------+------+-------+
only showing top 20 rows

In [8]:
spark.sql("DESCRIBE EXTENDED gender_bucketed_table").show(50, truncate=False)

+----------------------------+----------------------------------------------------------------------+-------+
|col_name                    |data_type                                                             |comment|
+----------------------------+----------------------------------------------------------------------+-------+
|id                          |int                                                                   |NULL   |
|name                        |string                                                                |NULL   |
|age                         |double                                                                |NULL   |
|salary                      |double                                                                |NULL   |
|address                     |string                                                                |NULL   |
|gender                      |string                                                                |NULL   |
|country                     |string                                                                |NULL   |
|                            |                                                                      |       |
|# Detailed Table Information|                                                                      |       |
|Catalog                     |spark_catalog                                                         |       |
|Database                    |default                                                               |       |
|Table                       |gender_bucketed_table                                                 |       |
|Created Time                |Fri Jan 30 16:03:34 UTC 2026                                          |       |
|Last Access                 |UNKNOWN                                                               |       |
|Created By                  |Spark 4.1.1                                                           |       |
|Type                        |EXTERNAL                                                              |       |
|Provider                    |CSV                                                                   |       |
|Num Buckets                 |4                                                                     |       |
|Bucket Columns              |[`gender`]                                                            |       |
|Sort Columns                |[]                                                                    |       |
|Location                    |file:/home/somnath/my_vscode_project/output_data/gender_bucketed_table|       |
|Storage Properties          |[header=true]                                                         |       |
+----------------------------+----------------------------------------------------------------------+-------+

In [9]:
os.listdir(path)

['.part-00000-00d54483-6573-4645-bfad-93972137ef48_00002.c000.csv.crc',
 '_SUCCESS',
 'part-00000-00d54483-6573-4645-bfad-93972137ef48_00000.c000.csv',
 '._SUCCESS.crc',
 '.part-00000-00d54483-6573-4645-bfad-93972137ef48_00000.c000.csv.crc',
 'part-00000-00d54483-6573-4645-bfad-93972137ef48_00002.c000.csv']

In [12]:
spark.stop()