In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import os

In [2]:
spark = SparkSession.builder\
    .appName("Practice")\
    .master("local[*]")\
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/31 07:57:23 WARN Utils: Your hostname, Somnath, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/01/31 07:57:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/31 07:57:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

DATAFRAME MODE

In [3]:
data = [(1, "Luca"), (2, "Aiko"), (3, "Carlos"), (4, "Sofia"), (5, "Ethan")]

In [4]:
schema =["id", "name"]

In [5]:
df = spark.createDataFrame(data, schema)

In [6]:
from pyspark.sql import Row 
new_row = Row(id=6, name="James")

In [7]:
new_df = spark.createDataFrame([new_row])

# 3. Combine the original 'df' with the 'new_df'
df_combined = df.union(new_df)

# 4. Show the result
df_combined.show()

+---+------+
| id|  name|
+---+------+
|  1|  Luca|
|  2|  Aiko|
|  3|Carlos|
|  4| Sofia|
|  5| Ethan|
|  6| James|
+---+------+

In [8]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|  Luca|
|  2|  Aiko|
|  3|Carlos|
|  4| Sofia|
|  5| Ethan|
+---+------+

In [9]:
new_df.show()

+---+-----+
| id| name|
+---+-----+
|  6|James|
+---+-----+

In [10]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df.columns

['id', 'name']

In [15]:
spark.stop()